.add-bot {
  position: fixed;
  top: 0;
  left: 0;

  padding: 30px;
  margin: 40px 0 0 30px;

  border: 1px solid $border-color;
  text-align: center;

  @media (max-width: 850px) {
    position: relative;
    margin: 0;
  }

  &__name {
    margin: 0 0 30px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 1.5px;
  }

  &__link {
    border: 2px solid $text-color;

    padding: 10px 20px;

    text-transform: uppercase;
    font-weight: 400;
  }

  &__link:hover {
    background-color: $vk-color;
    color: $white;
    border-color: $vk-color;

    cursor: pointer;
  }
}
