.container {
  max-width: 720px;
  width: auto;
  margin: 0 auto;
}

.left-column {
  display: inline-block;
  width: 250px;

  margin-right: 4%;

  @media (max-width: 850px) {
    display: block;
    width: 100%;

    margin-top: 0;
  }
}

.right-column {
  display: inline-block;
  width: 65%;

  margin-top: 30px;

  @media (max-width: 850px) {
    display: block;
    width: 90%;
    margin: 5% auto;
  }
}
